In [1]:
import pandas as pd
dic = {'a':3, 'b':'cat', 'c':25}
pd.Series(dic)

a      3
b    cat
c     25
dtype: object

In [2]:
oneD = pd.Series([100, 'cat', 310, 'gog', 500], ['Any', 'Bobby', 'Cat', 'Don', 'Emma'])
oneD

Any      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [3]:
oneD = pd.Series([100, 'cat', 310, 'gog', 500], index=['Any', 'Bobby', 'Cat', 'Don', 'Emma'])
oneD

Any      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [4]:
oneD.loc[['Cat', 'Emma']]

Cat     310
Emma    500
dtype: object

In [5]:
oneD.iloc[1]

'cat'

In [8]:
d = {
    'A':pd.Series([100, 200, 300], index=['Maça','Pera','Laranja']),
    'B':pd.Series([111,222,333,444], index=['Maça','Pera','Laranja', 'Melão'])
}

In [10]:
df = pd.DataFrame(d)
print(df)

             A    B
Laranja  300.0  333
Maça     100.0  111
Melão      NaN  444
Pera     200.0  222

In [11]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [12]:
df.index

Index(['Laranja', 'Maça', 'Melão', 'Pera'], dtype='object')

In [13]:
df.columns

Index(['A', 'B'], dtype='object')

In [14]:
pd.DataFrame(df, index=['Laranja', 'Pera', 'Maça'], columns=['B'])

           B
Laranja  333
Pera     222
Maça     111