In [1]:
from pandas import read_csv

header=0 não importa o cabeçalho

parse_dates=0 indica a posição onde está a data

index_col=0 índece da série(data) 

squeeze=True informa para retornar apenas a data série

In [3]:
serie = read_csv('Dados//female_birth.csv', header=0, parse_dates=[0], index_col=0, squeeze=True)
print(type(serie))

<class 'pandas.core.series.Series'>

In [5]:
print(serie.head())

Date
1959-01-01    35
1959-01-02    32
1959-01-03    30
1959-01-04    31
1959-01-05    44
Name: Daily total female births in California, 1959, dtype: int64

In [6]:
# Tamanho da série

print(serie.size)

366

In [7]:
# Estatística da série

print(serie.describe())

count     366.000000
mean       47.218579
std       100.472534
min        23.000000
25%        37.000000
50%        42.000000
75%        46.000000
max      1959.000000
Name: Daily total female births in California, 1959, dtype: float64